click==7.1.2
colorama==0.4.3
fastapi==0.61.1
gunicorn==20.0.4
h11==0.11.0
httptools
isort==4.3.21
lazy-object-proxy==1.4.3
mccabe==0.6.1
pydantic==1.7.1
pylint==2.4.4
six==1.14.0
starlette==0.13.6
uvicorn==0.12.2
uvloop
websockets==8.1
wrapt==1.11.2
astroid==2.3.3
